 #wrapper {
     width: 40%;
     margin: auto;
     text-align: center;
     background: gainsboro;
     border-radius: 20px;
     
 }
 select {
     margin-bottom: 20px;
 }
 #surveyWrap{
     display: flex;
     flex-direction: column;
     
 }
 #questions{
     padding-bottom: 30px;
 }
 .gb{
    background: gainsboro;
    align-self: center;
     box-sizing: border-box;
     background: gainsboro;
     width: 50vw;
     text-align: center;
     display:flex;
     flex-direction: column;
     border-radius: 25px;
     padding: 0px 80px;
 }
 .formGroup{
     border-top: 1px solid black;
 }
 #infoForm{
     align-self: center;
     box-sizing: border-box;
     background: gainsboro;
     width: 40vw;
     height: 40vh;
     margin-top: 25vh;
     padding: 30px 30px 0px 30px;
     text-align: center;
     display:flex;
     flex-direction: column;
     border-radius: 25px;
     position: fixed;
 }
 .formStyle{
     /* margin: 25px; */
 }
 
 .inputSpan{
     width:150px;

 }
 .infoFormGroup{
     display:flex;
     flex-direction: row;
     justify-content: center;
     margin-top: 20px;
 }
 #surveyTitle{
     font-size: 3rem;
     margin-bottom: 0px;
     margin-top: 0px;
 }
 .red{
     color:red;
 }
 .button{
     margin-top:30px;
     /* margin-bottom: 30px; */
     width: 100px;
     height: 40px;
     border-radius: 10px;
     border: 1px solid black;
     box-shadow: 2px 4px darkgray;
     color:white;
     background: rgb(0, 50, 119);
 }
 h1 {
     padding: 60px 20px 0px 10px;
     font-size: 4rem;
     text-shadow: 1px 2px darkgray
 }
 #surveyBtn {
    
 }
 .hide{
     visibility: hidden;
     order:99;
 }
 .show{
     visibility: visible;
 }